
{# extending template #}
{% extends template.layout('slides') %}


{# Section content #}
{% block content %}


<header>
	<h1>- Emprender en el mundo del software -</h1>
</header>


<section class="start">
	<h1>Como iniciar?</h1>
	<hr>
	<h3>Solucionar problemas</h3>
	<h3>Modelo de negocio</h3>
</section>

<section class="legal">
	<h1>Legal?</h1>
	<hr>
	<h3>Marca personal/comercial</h3>
	<h3>Pequeño contribuyente/empresa</h3>
	<h3>Empresa mercantil/sociedad anonima</h3>
</section>

<section class="ideas">
	<h1>Ideas de negocio</h1>
</section>

<section class="tips">
	<h1>Tips</h1>
	<hr>
	<h3>Marca personal</h3>
	<h3>Comunidades</h3>
	<h3>Creacion de equipo</h3>
</section>

<section>
	{{ html.img('questions.png', { alt: 'questions'}) }}
</section>

<footer>
	<h2>¡Gracias!</h2>
	<hr>
	<div class="socialmedia">
		<a href="">github.com/ldonis</a>
		<a href="">emc2@ldonis.com</a>
		<a href="">fb.com/LesliTech</a>
	</div>
</footer>

{% endblock %}
