
@import './template.scss';


// · 
// · ~·~     ~·~     ~·~     ~·~     ~·~     ~·~     ~·~     ~·~     ~·~     ~·~     ~·~     ~·~
header {
    @include lesli-css-flex-center(true);
    height: 100vh;
    min-height: 600px;
    text-align: center;
    background-image: url('../images/planets-bg.png');
    background-repeat: no-repeat;
    background-position: center left;
    border-bottom: 10px solid $color-blue;

    div {
        
        h1 {
            font-family: $font-family-title;
            font-weight: 100;
            margin: 0 0 10px;
        }

        // profile picture
        img {
            border-radius: 50%;
            max-width: 150px;
            width: 100%;
            transition: all linear .2s;
            
            &:hover {
                border-radius: 2px;
            }
                
        } 

        // about me
        p {
            letter-spacing: 1;
            margin-bottom: .4rem;
            a {
                color: darken($color-blue, 20) !important;
                &:hover {
                    border-bottom: 1px solid $color-blue;
                }
            }

            &.job {
                font-family: Tahoma, Verdana, Arial;
                font-weight: 400;
                margin: 1rem 0;
            }
        }


        // social icons
        ul {
            margin: 2rem auto;
            li {
                display: inline-block;
                a {
                    padding: .4rem;
                    svg {
                        width: 1.4rem;
                    }
                }
            }
        }
    }
}
