
// * Template
// * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
@require '../../Template/css/template'


// * Carga modulos de Lesli CSS
// * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
@require Lesli--load('flexbox')


// *  Fuentes
// * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~s
@font-face
    font-family 'roboto100'
    src url('https://cdn.lesli.tech/assets/fonts/roboto100.woff') format('woff')
    font-weight 100
@font-face
    font-family 'roboto300'
    src url('https://cdn.lesli.tech/assets/fonts/roboto300.woff') format('woff')
    font-weight 300



header
    min-height 100vh
    text-align center
    Lesli-flex-center('vertical')
    background-image url(Lesli--image('planets.png','Template'))
    background-repeat no-repeat
    background-position center left
    //border-bottom 15px solid $color-blue
    
    div
        
        // profile picture
        img
            border-radius 50%
            max-width 150px
            width 100%
            transition all linear .2s
            
            &:hover
                border-radius 2px
            
        // about me
        p
            
            a
                color darken($color-blue, 20) !important

                &:hover
                    border-bottom 1px solid $color-blue



        // social icons
        ul
            margin 0
            li
                display inline-block
                a
                    font-size 2rem
                    transition all linear .1s
                    
                    &:hover
                        color $color-blue



section.about
    padding 4.5rem 0 5rem
    text-align center
    background-color $color-blue

    p
        margin 0 auto .2rem
        color $color-white
        font-size 1.4rem
        

section.portfolio
    text-align center
    padding 8rem 0
    
    div.grid
        Lesli-grid(columns:4, margin: 50px, breakpoint: 480px)
        margin 2rem auto 0
        max-width 1000px

        div
            vertical-align middle
            
        img
            height 100px
            filter grayscale(1)
            transition all linear .2s
            
            &:hover
                filter grayscale(0)
        
        img.hrconnectp
            max-height 80px
        img.shutiando
        img.pizzacode
            max-height 65px


section.lesli
    text-align center
    padding 8rem 0 10rem
    background-color rgba($color-gray, .5)
    
    img
        width 100px