
// * Template
// * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
@require '../../Template/css/template'


// * Carga modulos de Lesli CSS
// * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
@require Lesli--load('flex')



header
    min-height 100vh
    text-align center
    Lesli-flex-center('vertical')
    background-image url(Lesli--image('planets.png'))
    background-repeat no-repeat
    background-position center left
    border-bottom 10px solid $color-blue
    
    div
        
        h1
            font-family $font-family-title
            font-weight 100
            margin 0 0 10px
        
        // profile picture
        img
            border-radius 50%
            max-width 150px
            width 100%
            transition all linear .2s
            
            &:hover
                border-radius 2px
            
        // about me
        p
            
            a
                color darken($color-blue, 20) !important

                &:hover
                    border-bottom 1px solid $color-blue



        // social icons
        ul
            margin 0
            li
                display inline-block
                a
                    font-size 2rem
                    transition all linear .1s
                    
                    &:hover
                        color $color-blue
