// Including RCat framework
//~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
@require 'lesli/'


// Defining colors
//~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
$color-gray = rgb(220, 220, 220)
$color-gray-light = lighten($color-gray, 8)
$color-blue = rgb(94, 155, 255)

// Font families
//~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
$font-body = 'opensans400', sans-serif
$font-body-light = 'opensans300', sans-serif
$font-title-main = 'pinyon'
