// *
// * Standard and basics style
// * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
// * @author Luis Gdonis <http//ldonis.com>
// * @since 4.0.0

// * Defining colors
// * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
$gray = #f7f7f7
$white = #ffffff
$black = #1d1d1d
$gray-dark = #333333
$blue-donis = #3498DB

// * Font families
// * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
$font-body = 'roboto300'
$font-title = 'roboto100'
$font-title-main = 'pinyon'
