/*
 *  Fuentes
 */
@font-face {
  font-family: 'roboto300';
  src: url("../../../Public/font/roboto300.woff") format('woff');
  font-weight: 300;
}
@font-face {
  font-family: 'pinyon';
  src: url("../../../Public/font/pinyon.woff") format('woff');
  font-weight: 100;
}
/*
@font-face
    font-family 'fontello'
    src url('../../Template/font/fontello/fontello.eotO?21141559')
    src url('../../Template/font/fontello/fontello.eot?21141559#iefix') format('embedded-opentype'),
    url('../../Template/font/fontello/fontello.woff?21141559') format('woff'),
    url('../../Template/font/fontello/fontello.ttf?21141559') format('truetype'),
    url('../../Template/font/fontello/fontello.svg?21141559#fontello') format('svg')
    font-weight normal
    font-style normal
*/
html,
body {
  font-family: 'roboto300';
}
html .lang_content,
body .lang_content {
  position: fixed;
  top: 5px;
  left: 0px;
}
