
// * Global color pallete
// * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~

$color-white = #ffffff
$color-gray = rgb(220, 220, 220)
$color-gray-light = lighten($color-gray, 8)
$color-blue = #3498DB
$color-black-mate = #494D55


// * Font families
// * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
$font-family-body = 'opensans300', sans-serif
$font-family-title = $font-family-body
