
// * Global color pallete
// * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~

$color-white = #ffffff
$color-black = #494D55

$color-gray = rgb(220, 220, 220)
$color-gray-light = lighten($color-gray, 8)

$color-blue = #3498DB



// * Font families
// * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
$font-family-body = "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif
$font-family-title = $font-family-body
