
// * Global color pallete
// * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~

$color-white = #ffffff
$color-gray = rgb(220, 220, 220)
$color-gray-light = lighten($color-gray, 8)
$color-blue = rgb(94, 155, 255)
$color-black-mate = #494D55


// * Font families
// * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
$font-body = 'opensans300', sans-serif
