
// * Including RCat framework
// * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
@require 'lesli/'


// * Carga modulos de Lesli CSS
// * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
@require Lesli--load('base')


// * Inclulding standards 
// * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~ 
@require 'standard.styl'


// * Icons
// * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
@require 'gonzoicons'


// * Fuentes
// * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~ 
@font-face
    font-family 'roboto100'
    src url('https://cdn.lesli.tech/assets/fonts/roboto100.woff') format('woff')
    font-weight 100
@font-face
    font-family 'opensans300'
    src url('https://cdn.lesli.tech/assets/fonts/opensans300.ttf') format('truetype')
    font-weight 300


// * Base styles
// * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~ 
Lesli-base()


html
body
    font-family $font-family-body
    font-size 1.1rem
