
// * Base styles
// * - - - - - - - - - - - - - - -
@require '../../Template/css/global'


// * load RCat modules
include-rhelper()


// * Encabezado
// * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
.header
    
    article
        height 100vh !important
        text-align center
        background url('../img/solar.png')
        background-repeat no-repeat
        position center left

        // * Main container
        // * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
        & > div
            width 100%

        // * Grid container
        // * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
        .rgrid

            & > div
                vertical-align middle

                // * Lineas de portal
                // * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
                hr
                    width 85%
                    height 1px
                    margin 0 auto
                    background $color-gray-dark

                // * Foto de perfil
                // * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
                #foto
                    display block
                    width 150px
                    height 150px
                    margin 0 auto
                    border-radius 50%
                    background-image url('../img/ldonis.jpg')
                    background-size cover
                    border 3px solid $color-gray-dark

        // * Slogan and about me
        // * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
        #slogan
            padding-top 5px
            color $color-gray-dark

    // * Some words about me
    // * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
    .about
        color $color-gray
        background-color $color-gray-dark
        padding 25px 0px
        font-size 1.2rem
        text-align center

// * Blog entries
// * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
section.blog
    width 100%
    padding 75px 0px
    text-align center
    background-color $color-gray
    
    // - section title
    h2 a
        display block
        width 70%
        margin 0px auto 100px
        font-size 1.6rem
        border-bottom 1px solid $color-blue-donis
    
    // blob link
    & > a
        padding 10px 0px
        display inline-block
        width 320px
        border-top 1px solid $color-gray-dark
        border-bottom 1px solid $color-gray-dark
    
    // contenedor de post    
    .post
        min-width 320px
        margin-bottom 100px
        
        img
            max-height 120px

        h3
            font-size 1.4rem
            


// * The projects that I'm working on
// * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
section.projects
    text-align center
    padding 0px 20px

    // - section title
    h2
        width 70%
        margin 50px auto 100px
        font-size 1.6rem
        border-bottom 1px solid $color-blue-donis

    // - grid container
    .rgrid
        width 100%
        max-width 800px
        margin 0px auto 150px

        // - project container
        div
            vertical-align middle

            // - project name
            h4
                font-size 1.3rem

            // - project logo
            img
                height 150px

            // - project description
            p
                text-align justify

            // - links list container
            ul
                padding 0

                // - single link container
                li
                    display inline-block
                    width 49%
                    font-size 0

                    // - link
                    a
                        color $color-gray-dark
                        background-color $color-gray
                        border 1px solid $color-gray
                        border-radius 3spx
                        font-size 1rem
                        transition all linear .2s

                        &.website:hover
                            color $color-gray
                            background-color $color-blue-donis

                        &.github:hover
                            color $color-gray
                            background-color $color-black





@media (max-width: 425px)

    // * Encabezado
    // * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
    .header

        // * Grid container
        // * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
        .rgrid

            & > div

                // * Lineas de portal
                // * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
                hr
                    display none
