/**
 * Portada
 * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
 * @author Luis Gdonis <http//ldonis.com>
 * @since 4.0.0
 */
#portal {
  height: 100vh;
}
#portal article > div {
  width: 100%;
/* Slogan
             * ================================== */
}
#portal article > div p {
  padding-top: 5px;
  text-align: center;
}
#portal article > div .rblock > div {
  vertical-align: middle;
/* Lineas de portal
                     * ================================== */
/* Foto de perfil
                     * ================================== */
}
#portal article > div .rblock > div hr {
  background: #3d3d3d;
  height: 1px;
  margin: 0 auto;
  width: 85%;
}
#portal article > div .rblock > div #foto {
  display: block;
  width: 150px;
  height: 150px;
  margin: 0 auto;
  border-radius: 50%;
  background-image: url("../img/ldonis.jpg");
  background-size: cover;
  border: 3px solid #3d3d3d;
}
/**
 * About
 * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
 * @author Luis Gdonis <http//ldonis.com>
 * @since 4.0.0
 */
#about {
  background-color: #f1f1f1;
}
#about article {
  background-image: url("../img/dev_desk.png");
  background-size: 500px;
  background-repeat: no-repeat;
  background-position: center right;
  padding: 150px 3%;
  width: 100%;
/* Titulos de contenedores
         * ================================== */
}
#about article h2,
#about article p {
  display: block;
  width: 100%;
  max-width: 600px;
  background: transparent;
}
#about article h2 {
  text-align: center;
}
#about article p {
  text-align: justify;
  font-size: 1.3rem;
}
#projects {
  padding: 50px 0;
  margin: 0 auto;
  width: 100%;
  max-width: 1100px;
}
#projects #lesli,
#projects #cat {
  display: block;
  padding: 50px 0px 100px;
}
#projects h2,
#projects h3 {
  text-align: center;
}
#projects h2 {
  padding-top: 25px;
}
#projects #lesli div:last-child {
  text-align: justify;
}
#projects #lesli div {
  padding: 50px 25px;
  text-align: center;
  vertical-align: middle;
  font-size: 1.2rem;
}
#projects #lesli div img {
  width: 100px;
}
#projects #lesli div h3 {
  font-family: 'pinyon';
  font-size: 3.3rem;
}
#projects #lesli:hover div img {
  -webkit-animation: swing 1s ease;
  animation: swing 1s ease;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
#projects #rcat pre {
  font-size: 1.1rem;
}
#projects #rcat div {
  text-align: justify;
  vertical-align: middle;
  padding: 50px 25px;
  font-size: 1.2rem;
}
#projects #rcat div:last-child {
  text-align: center;
}
#projects #rcat div:last-child img {
  width: 220px;
}
#projects #rcat div:last-child h3 {
  font-size: 2.8rem;
}
#projects #rcat:hover div img {
  -webkit-animation: swing 1s ease;
  animation: swing 1s ease;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
#contact {
  background-color: #555;
}
.typed-cursor {
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}
@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*
  *  Animation
  */
@-webkit-keyframes swing {
  15% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
  30% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  50% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  65% {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
  }
  80% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes swing {
  15% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
  30% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  50% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  65% {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
  }
  80% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes swing {
  15% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
  30% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  50% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  65% {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
  }
  80% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@-o-keyframes swing {
  15% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
  30% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  50% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  65% {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
  }
  80% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes swing {
  15% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
  30% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  50% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  65% {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
  }
  80% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
