html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background-color:transparent}a:active,a:hover{outline:0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:700}dfn{font-style:italic}h1{font-size:2em;margin:.67em 0}mark{background:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-.5em}sub{bottom:-.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:1em 40px}hr{box-sizing:content-box;height:0}pre{overflow:auto}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}input[type=search]{-webkit-appearance:textfield;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0}textarea{overflow:auto}optgroup{font-weight:700}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}*,:before,:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}h1,h2,h3,h4,h5,h6{font-style:inherit;font-weight:inherit;text-rendering:optimizelegibility}h1{font-size:2.38rem}h2{font-size:2.15rem}h3{font-size:1.92rem}h4{font-size:1.69rem}h5{font-size:1.46rem}h6{font-size:1.23rem}hr{border:0}.rgrid,.rblock{width:100%;font-size:0;text-align:justify}.rgrid:after,.rblock:after{content:'';width:100%;display:inline-block}.rgrid>*,.rblock>*{height:100%;font-size:initial;white-space:initial;display:inline-block}.rgrid.columns-02>*{width:49.5%}.rgrid.columns-03>*{width:32.666666666666664%}.rgrid.columns-04>*{width:24.25%}.rgrid.columns-05>*{width:19.2%}.rgrid.columns-06>*{width:15.833333333333334%}.rgrid.columns-07>*{width:13.428571428571429%}.rgrid.columns-08>*{width:11.625%}.rgrid.columns-09>*{width:10.222222222222221%}.rgrid.columns-10>*{width:9.1%}.rgrid.columns-11>*{width:8.181818181818182%}.rgrid.columns-12>*{width:7.416666666666667%}.rgrid .column-1{width:9%}.rgrid .column-1:first-child{width:10%}.rgrid .column-2{width:19%}.rgrid .column-2:first-child{width:20%}.rgrid .column-3{width:29%}.rgrid .column-3:first-child{width:30%}.rgrid .column-4{width:39%}.rgrid .column-4:first-child{width:40%}.rgrid .column-5{width:49%}.rgrid .column-5:first-child{width:50%}.rgrid .column-6{width:59%}.rgrid .column-6:first-child{width:60%}.rgrid .column-7{width:69%}.rgrid .column-7:first-child{width:70%}.rgrid .column-8{width:79%}.rgrid .column-8:first-child{width:80%}.rgrid .column-9{width:89%}.rgrid .column-9:first-child{width:90%}.rgrid .column-10{width:99%}.rgrid .column-10:first-child{width:100%}.rblock.columns-02>*{width:50%}.rblock.columns-03>*{width:33.333333333333336%}.rblock.columns-04>*{width:25%}.rblock.columns-05>*{width:20%}.rblock.columns-06>*{width:16.666666666666668%}.rblock.columns-07>*{width:14.285714285714286%}.rblock.columns-08>*{width:12.5%}.rblock.columns-09>*{width:11.11111111111111%}.rblock.columns-10>*{width:10%}.rblock.columns-11>*{width:9.090909090909092%}.rblock.columns-12>*{width:8.333333333333334%}.rblock.column-1>*{width:8.333333333333334%}.rblock.column-2>*{width:16.666666666666668%}.rblock.column-3>*{width:25%}.rblock.column-4>*{width:33.333333333333336%}.rblock.column-5>*{width:41.66666666666667%}.rblock.column-6>*{width:50%}.rblock.column-7>*{width:58.333333333333336%}.rblock.column-8>*{width:66.66666666666667%}.rblock.column-9>*{width:75%}.rblock.column-10>*{width:83.33333333333334%}.rblock.column-11>*{width:91.66666666666667%}.rblock.column-12>*{width:100%}.rblock .column-1{width:10%}.rblock .column-2{width:20%}.rblock .column-3{width:30%}.rblock .column-4{width:40%}.rblock .column-5{width:50%}.rblock .column-6{width:60%}.rblock .column-7{width:70%}.rblock .column-8{width:80%}.rblock .column-9{width:90%}.rblock .column-10{width:100%}.rnav{width:100%}.rnav>ul{font-size:0}.rnav li{display:inline-block;font-size:initial}.rnav li a{display:block;padding:.3rem .8rem}.rnav.doble{width:100%;font-size:0;white-space:nowrap}.rnav.doble>ul{width:50%;font-size:1rem;white-space:initial;display:inline-block}.rnav.doble>ul:first-child{text-align:left}.rnav.doble>ul:last-child{text-align:right}.rnav.multi>ul{position:relative}.rnav.multi>ul>li ul{display:none;position:absolute}.rnav.multi>ul>li:hover>ul{display:block}.rnav.multi>ul li ul li{display:block}.rnav.multi>ul>li>ul>li{position:relative}.rnav.multi>ul>li>ul>li:hover ul{display:block;left:100%;top:0}.rnav.vertical li>ul>li:first-child{margin-top:.5em;margin-bottom:.5em;border-bottom:1px solid #ccc;text-transform:uppercase}.rnav.vertical ul li{display:block!important}code{display:block;margin:0 auto;width:90%;white-space:pre-wrap;font-family:Consolas,"Liberation Mono",Courier,monospace,sans-serif;font-size:1rem;line-height:1.4;padding:1rem 1rem .5rem 2.5rem;text-align:left;color:#333;background:#fafafa;border:1px solid #cbcbcb;margin-bottom:15px}a{color:inherit;text-decoration:none}a.rbutton{font-size:12px;font-weight:400;line-height:15px;font-family:Sans}[class^=rbutton]{padding:6px 12px;border-radius:2px;border:1px solid transparent;text-shadow:0 1px 0 rgba(0,0,0,.01)}[class^=rbutton]:hover{cursor:pointer}[class^=rbutton]:active{box-shadow:0 0 0 1px rgba(0,0,0,.15) inset,0 0 6px rgba(0,0,0,.2) inset}[class^=rbutton].g{transition:all .2s ease}.rbutton-standard{background-color:#fff;border-color:#e6e6e6}.rbutton-standard:hover{color:#222;border-color:#e6e6e6;background-color:#e6e6e6}.rbutton-standard.g{background-color:transparent;border-color:#e6e6e6;color:#e6e6e6}.rbutton-standard.g:hover{background-color:#e6e6e6;color:#fff}.rbutton-primary{color:#fff;border-color:#286090;background-color:#337ab7}.rbutton-primary:hover{color:#fff;background-color:#286090}.rbutton-primary.g{background-color:transparent;border-color:#337ab7;color:#286090}.rbutton-primary.g:hover{background-color:#337ab7;color:#fff}.rbutton-success{color:#fff;border-color:#449d44;background-color:#5cb85c}.rbutton-success:hover{background-color:#449d44;border-color:#449d44}.rbutton-success.g{background-color:transparent;border-color:#5cb85c;color:#449d44}.rbutton-success.g:hover{background-color:#5cb85c;color:#fff}.rbutton-info{background-color:#5bc0de;border-color:#31b0d5}.rbutton-info:hover{background-color:#31b0d5;border-color:#31b0d5}.rbutton-info.g{background-color:transparent;border-color:#5bc0de;color:#31b0d5}.rbutton-info.g:hover{background-color:#5bc0de;color:#fff}.rbutton-warning{background-color:#f0ad4e;border-color:#ec971f}.rbutton-warning:hover{background-color:#ec971f}.rbutton-warning.g{background-color:transparent;border-color:#f0ad4e;color:#ec971f}.rbutton-warning.g:hover{background-color:#f0ad4e;color:#fff}.rbutton-error{background-color:#d9534f;border-color:#c9302c}.rbutton-error:hover{background-color:#c9302c}.rbutton-error.g{background-color:transparent;border-color:#d9534f;color:#c9302c}.rbutton-error.g:hover{background-color:#d9534f;color:#fff}.button-group{font-size:0}.button-group [class^=rbutton]{border-radius:0;border-right-width:0}.button-group [class^=rbutton]:first-child{border-radius:3px 0 0 3px!important;border-right:0}.button-group [class^=rbutton]:last-child{border-radius:0 3px 3px 0!important;border-right-width:1px}[class^=rbutton].circle{width:75px;height:75px;border-radius:50%;text-align:center}[class^=rbutton].oval{border-radius:45px;text-align:center}.rcenter{display:flex}.rcenter.full{align-items:center;justify-content:center}.rcenter.vertical{align-items:center;justify-content:center;flex-direction:column;height:100%}
/*
 *  Fuentes
 */
@font-face {
  font-family: 'roboto100';
  src: url("../../../Public/font/roboto100.woff") format('woff');
  font-weight: 100;
}
@font-face {
  font-family: 'roboto300';
  src: url("../../../Public/font/roboto300.woff") format('woff');
  font-weight: 300;
}
@font-face {
  font-family: 'pinyon';
  src: url("../../../Public/font/pinyon.woff") format('woff');
  font-weight: 100;
}
@font-face {
  font-family: 'fontello';
  src: url("../../Template/font/fontello/fontello.eot") format('embedded-opentype'), url("../../Template/font/fontello/fontello.woff") format('woff'), url("../../Template/font/fontello/fontello.ttf") format('truetype'), url("../../Template/font/fontello/fontello.svg") format('svg');
  font-weight: normal;
  font-style: normal;
}
html,
body {
  font-family: 'roboto300';
}
html .lang_content,
body .lang_content {
  position: fixed;
  top: 5px;
  left: 0px;
}
footer {
  padding: 25px 0;
  color: #d4d4d4;
  background-color: #1d1d1d;
  text-align: center;
  border-top: 3px solid #0170ba;
}
footer .blue {
  color: #0170ba;
}
/*
 *  Fontello
 */
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: 0.2em;
}
.icon-code:before {
  content: '\e801';
}
/* '' */
.icon-docs:before {
  content: '\e80b';
}
/* '' */
.icon-mail:before {
  content: '\e803';
}
/* '' */
.icon-heart:before {
  content: '\e800';
}
/* '' */
.icon-globe:before {
  content: '\e802';
}
/* '' */
.icon-github:before {
  content: '\e809';
}
/* '' */

/**
 * Portada
 * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
 * @author Luis Gdonis <http//ldonis.com>
 * @since 4.0.0
 */
#portal {
  height: 100vh;
}
#portal article > div {
  width: 100%;
/* Slogan
             * ================================== */
}
#portal article > div p {
  padding-top: 5px;
  text-align: center;
}
#portal article > div .rblock > div {
  vertical-align: middle;
/* Lineas de portal
                     * ================================== */
/* Foto de perfil
                     * ================================== */
}
#portal article > div .rblock > div hr {
  background: #3d3d3d;
  height: 1px;
  margin: 0 auto;
  width: 85%;
}
#portal article > div .rblock > div #foto {
  display: block;
  width: 150px;
  height: 150px;
  margin: 0 auto;
  border-radius: 50%;
  background-image: url("../img/ldonis.jpg");
  background-size: cover;
  border: 3px solid #3d3d3d;
}
/**
 * About
 * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
 * @author Luis Gdonis <http//ldonis.com>
 * @since 4.0.0
 */
#about {
  background-color: #f1f1f1;
/* Titulos de contenedores
     * ================================== */
}
#about h2,
#about p {
  margin: 0 auto;
  display: block;
  width: 100%;
  max-width: 600px;
  background: transparent;
}
#about h2 {
  text-align: center;
}
#about p {
  text-align: justify;
  font-size: 1.3rem;
}
#about #dev {
  background-image: url("../img/dev_desk.png");
  background-size: 28%;
  background-repeat: no-repeat;
  background-position: 93% center;
  width: 100%;
  padding: 225px 3%;
}
#about #dev div {
  width: 50%;
}
#about #science {
  padding: 100px 3% 225px;
}
#about #science div {
  vertical-align: middle;
}
#about #science #atom_content {
  position: relative;
  min-height: 140px;
  z-index: 99;
  width: 100%;
}
#about #science #atom_content .atom {
  margin: 0 auto;
  cursor: pointer;
  background-color: transparent;
  transition: all linear 0.2s;
}
#about #science #atom_content .atom [class*="electron"],
#about #science #atom_content .atom .proton {
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
}
#about #science #atom_content .atom .proton {
  background: #1b1b1b;
  border-radius: 50%;
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
  height: 25px;
  width: 25px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3), inset 0 0 20px rgba(255,255,255,0.3);
  transition: all 0.2s transform ease-in-out;
  top: -18px;
}
#about #science #atom_content .atom:hover .proton {
/*transform translate(0, 0.1em)*/
  height: 20px;
  width: 20px;
  background-color: #ff7118;
}
#about #science #atom_content .atom [class*="electron"] {
  animation: glow 3s linear infinite;
  border-radius: 50%;
  border: 0.4em solid rgba(50,50,50,0.8);
  border-top: 0.7em solid rgba(50,50,50,0.8);
  border-bottom: 0.7em solid rgba(50,50,50,0.8);
  box-shadow: 0 0 1px rgba(50,50,50,0.3), inset 0 0 2px rgba(50,50,50,0.3);
  height: 10em;
  width: 8em;
  transition: 1s transform ease-in-out;
}
#about #science #atom_content .atom [class*="electron"] div {
  animation: rotate 2s linear infinite;
  border-radius: 50%;
  height: 100%;
  position: relative;
  width: 100%;
  background-color: transparent;
}
#about #science #atom_content .atom [class*="electron"] div:after {
  animation: squash 0s linear infinite;
  transform: scale(2, 2);
  border-radius: 50%;
  content: '';
  position: absolute;
  left: 50%;
  top: -0.6em;
  margin-left: 0em;
  opacity: 1;
  height: 1em;
  width: 1em;
}
#about #science #atom_content .atom .electron_1 {
  transform: rotate(120deg) scale(0.333, 1);
}
#about #science #atom_content .atom .electron_1 div:after {
  background: #2ecc71;
  box-shadow: 0 0 2px #2ecc71;
/*
                        section.atomhover .electron_1
                            border 0.6em solid rgba(50, 50, 50, 0.8)
                            transform rotate(0deg) scale(0.33333, 0.33333) perspective(600px) rotateX(60deg)
                        section.atomhover .electron_1 divafter
                            animation none
                            top -1.6em
                            transform scale(1, 1)
                        */
}
#about #science #atom_content .atom .electron_2 {
  transform: rotate(240deg) scale(0.333, 1);
}
#about #science #atom_content .atom .electron_2 div:after {
  background: #3498db;
  box-shadow: 0 0 2px #3498db;
/*
                        section.atomhover .electron_2
                            border 0.6em solid rgba(50, 50, 50, 0.8)
                            transform rotate(0deg) scale(0.66667, 0.66667) perspective(600px) rotateX(60deg)
                        section.atomhover .electron_2 divafter
                            animation none
                            top -1.6em
                            transform scale(1, 1)
                        */
}
#about #science #atom_content .atom .electron_3 {
  transform: rotate(360deg) scale(0.333, 1);
}
#about #science #atom_content .atom .electron_3 div:after {
  background: #e74c3c;
  box-shadow: 0 0 2px #e74c3c;
/*
                        section.atomhover .electron_3
                            border 0.6em solid rgba(50, 50, 50, 0.8)
                            transform rotate(0deg) scale(1, 1) perspective(600px) rotateX(60deg)
                        section.atomhover .electron_3 divafter
                            animation none
                            top -1.6em
                            transform scale(1, 1)
                        */
}
@-moz-keyframes glow {
  0%, 100% {
    box-shadow: 0 0 0 rgba(255,255,255,0.2), 0 0 10px rgba(255,255,255,0.2), inset 0 0 20px rgba(255,255,255,0.3);
  }
  50% {
    box-shadow: 0 0 10px rgba(255,255,255,0.2), 0 0 30px rgba(255,255,255,0.2), inset 0 0 20px rgba(255,255,255,0.3);
  }
}
@-webkit-keyframes glow {
  0%, 100% {
    box-shadow: 0 0 0 rgba(255,255,255,0.2), 0 0 10px rgba(255,255,255,0.2), inset 0 0 20px rgba(255,255,255,0.3);
  }
  50% {
    box-shadow: 0 0 10px rgba(255,255,255,0.2), 0 0 30px rgba(255,255,255,0.2), inset 0 0 20px rgba(255,255,255,0.3);
  }
}
@-o-keyframes glow {
  0%, 100% {
    box-shadow: 0 0 0 rgba(255,255,255,0.2), 0 0 10px rgba(255,255,255,0.2), inset 0 0 20px rgba(255,255,255,0.3);
  }
  50% {
    box-shadow: 0 0 10px rgba(255,255,255,0.2), 0 0 30px rgba(255,255,255,0.2), inset 0 0 20px rgba(255,255,255,0.3);
  }
}
@keyframes glow {
  0%, 100% {
    box-shadow: 0 0 0 rgba(255,255,255,0.2), 0 0 10px rgba(255,255,255,0.2), inset 0 0 20px rgba(255,255,255,0.3);
  }
  50% {
    box-shadow: 0 0 10px rgba(255,255,255,0.2), 0 0 30px rgba(255,255,255,0.2), inset 0 0 20px rgba(255,255,255,0.3);
  }
}
@-moz-keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-o-keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-moz-keyframes squash {
  0%, 50%, 100% {
    transform: scale(1, 1);
    top: -2.6em;
  }
  25%, 75% {
    transform: scale(2, 1);
    top: -1.2em;
  }
}
@-webkit-keyframes squash {
  0%, 50%, 100% {
    transform: scale(1, 1);
    top: -2.6em;
  }
  25%, 75% {
    transform: scale(2, 1);
    top: -1.2em;
  }
}
@-o-keyframes squash {
  0%, 50%, 100% {
    transform: scale(1, 1);
    top: -2.6em;
  }
  25%, 75% {
    transform: scale(2, 1);
    top: -1.2em;
  }
}
@keyframes squash {
  0%, 50%, 100% {
    transform: scale(1, 1);
    top: -2.6em;
  }
  25%, 75% {
    transform: scale(2, 1);
    top: -1.2em;
  }
}
#projects {
  padding: 50px 0;
  margin: 0 auto;
  width: 100%;
  max-width: 1100px;
}
#projects #lesli,
#projects #cat,
#projects #rcatmail {
  display: block;
  padding: 100px 0px 125px;
}
#projects h2,
#projects h3 {
  text-align: center;
}
#projects h2 {
  padding-top: 25px;
}
#projects h3 {
  margin: 30px auto;
}
#projects #lesli div:first-child {
  line-height: 1px;
}
#projects #lesli div:last-child {
  text-align: justify;
}
#projects #lesli div {
  padding: 50px 25px;
  text-align: center;
  vertical-align: middle;
  font-size: 1.2rem;
}
#projects #lesli div img {
  width: 100px;
}
#projects #lesli div h3 {
  font-family: 'pinyon';
  font-size: 3.3rem;
}
#projects #lesli:hover div img {
  -webkit-animation: swing 1s ease;
  animation: swing 1s ease;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
#projects #rcat pre {
  font-size: 1.1rem;
}
#projects #rcat div {
  text-align: justify;
  vertical-align: middle;
  padding: 50px 25px;
  font-size: 1.2rem;
}
#projects #rcat div:last-child {
  text-align: center;
  line-height: 1px;
}
#projects #rcat div:last-child img {
  width: 220px;
}
#projects #rcat div:last-child h3 {
  font-size: 2.8rem;
}
#projects #rcat:hover div img {
  -webkit-animation: swing 1s ease;
  animation: swing 1s ease;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
#projects #rcatmail div:first-child {
  line-height: 1px;
}
#projects #rcatmail div:last-child {
  text-align: justify;
}
#projects #rcatmail div {
  padding: 50px 25px;
  text-align: center;
  vertical-align: middle;
  font-size: 1.2rem;
}
#projects #rcatmail div img {
  width: 125px;
}
#projects #rcatmail div h3 {
  font-size: 2.8rem;
  font-family: 'roboto100';
}
#projects #rcatmail:hover div img {
  -webkit-animation: swing 1s ease;
  animation: swing 1s ease;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
#contact {
  text-align: center;
  padding: 50px 0px;
  background-color: #efefef;
}
#contact div {
  text-align: center;
}
#contact div a {
  padding: 5px 0px;
}
#contact div a i {
  font-size: 2.2rem;
}
#contact div a span {
  display: block;
}
@media screen and (max-width: 800px) {
  #about #dev {
    background-size: 200px;
    background-position: center 50px !important;
  }
  #about #dev div {
    margin-top: 100px;
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  #science > div {
    display: block;
    width: 100%;
  }
  #projects a div {
    display: block;
    width: 100%;
  }
}
.typed-cursor {
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}
@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*
  *  Animation
  */
@-webkit-keyframes swing {
  15% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
  30% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  50% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  65% {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
  }
  80% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes swing {
  15% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
  30% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  50% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  65% {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
  }
  80% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes swing {
  15% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
  30% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  50% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  65% {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
  }
  80% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@-o-keyframes swing {
  15% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
  30% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  50% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  65% {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
  }
  80% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes swing {
  15% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
  30% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  50% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  65% {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
  }
  80% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
