/**
 * Portada
 * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
 * @author Luis Gdonis <http//ldonis.com>
 * @since 4.0.0
 */
#portal
    height 100vh

    article

        /* Grid container
         * ================================== */
        & > div
            width 100%

            /* Slogan
             * ================================== */
            p
                padding-top 5px
                text-align center


            .rblock

                & > div
                    vertical-align middle

                    /* Lineas de portal
                     * ================================== */
                    hr
                        background #3d3d3d
                        height 1px
                        margin 0 auto
                        width 85%

                    /* Foto de perfil
                     * ================================== */
                    #foto
                        display block
                        width 150px
                        height 150px
                        margin 0 auto
                        border-radius 50%
                        background-image url('../img/ldonis.jpg')
                        background-size cover
                        border 3px solid #3d3d3d

/**
 * About
 * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
 * @author Luis Gdonis <http//ldonis.com>
 * @since 4.0.0
 */
#about
    background-color #f1f1f1

    article
        background-image url('../img/dev_desk.png')
        background-size 500px
        background-repeat no-repeat
        background-position center right
        padding 150px 3%
        width 100%

        h2
        p
            display block
            width 100%
            max-width 600px
            background transparent

        /* Titulos de contenedores
         * ================================== */
        h2
            text-align center

        p
            text-align justify
            font-size 1.3rem
#projects
    padding 50px 0
    margin 0 auto
    width 100%
    max-width 1100px

    #lesli
    #cat
        display block
        padding 50px 0px 100px

    h2
    h3
        text-align center

    h2
        padding-top 25px

    #lesli

        div:last-child
            text-align justify

        div
            padding 50px 25px
            text-align center
            vertical-align middle
            font-size 1.2rem

            img
                width 100px

            h3
                font-family 'pinyon'
                font-size 3.3rem

        &:hover
            div
                img
                    -webkit-animation swing 1s ease
                    animation swing 1s ease
                    -webkit-animation-iteration-count 1
                    animation-iteration-count 1

    #rcat

        pre
            font-size 1.1rem

        div
            text-align justify
            vertical-align middle
            padding 50px 25px
            font-size 1.2rem

        div:last-child
            text-align center

            img
                width 220px

            h3
                font-size 2.8rem

        &:hover
            div
                img
                    -webkit-animation swing 1s ease
                    animation swing 1s ease
                    -webkit-animation-iteration-count 1
                    animation-iteration-count 1

#contact
    background-color #555555

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes {blink}
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }

@-webkit-keyframes {blink}
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }

@-moz-keyframes {blink}
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }

 /*
  *  Animation
  */
 @-webkit-keyframes swing
 {
     15%
     {
         -webkit-transform: translateX(5px);
         transform: translateX(5px);
     }
     30%
     {
         -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
     }
     50%
     {
         -webkit-transform: translateX(3px);
         transform: translateX(3px);
     }
     65%
     {
         -webkit-transform: translateX(-3px);
         transform: translateX(-3px);
     }
     80%
     {
         -webkit-transform: translateX(2px);
         transform: translateX(2px);
     }
     100%
     {
         -webkit-transform: translateX(0);
         transform: translateX(0);
     }
 }
 @keyframes swing
 {
     15%
     {
         -webkit-transform: translateX(5px);
         transform: translateX(5px);
     }
     30%
     {
         -webkit-transform: translateX(-5px);
         transform: translateX(-5px);
     }
     50%
     {
         -webkit-transform: translateX(3px);
         transform: translateX(3px);
     }
     65%
     {
         -webkit-transform: translateX(-3px);
         transform: translateX(-3px);
     }
     80%
     {
         -webkit-transform: translateX(2px);
         transform: translateX(2px);
     }
     100%
     {
         -webkit-transform: translateX(0);
         transform: translateX(0);
     }
 }
