/**
 * Portada
 * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
 * @author Luis Gdonis <http//ldonis.com>
 * @since 4.0.0
 */
#portal
    height 100vh
    background url('../img/solar.png')
    background-repeat no-repeat
    position center left

    /* Grid container
     * ================================== */
    & > div
        width 100%

        /* Slogan
         * ================================== */
        p
            padding-top 5px
            text-align center


        .rblock

            & > div
                vertical-align middle

                /* Lineas de portal
                 * ================================== */
                hr
                    background #3d3d3d
                    height 1px
                    margin 0 auto
                    width 85%

                /* Foto de perfil
                 * ================================== */
                #foto
                    display block
                    width 150px
                    height 150px
                    margin 0 auto
                    border-radius 50%
                    background-image url('../img/ldonis.jpg')
                    background-size cover
                    border 3px solid #3d3d3d
