/**
 * Portada
 * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
 * @author Luis Gdonis <http//ldonis.com>
 * @since 4.0.0
 */
header {
  background-color: #f7f7f7;
  text-align: center;
  color: #333;
}
header h1 {
  font-family: 'pinyon';
  font-size: 3.2rem;
  padding: 10px 0px 0px;
}
header p {
  background-color: #333;
  padding: 25px 0px;
  font-size: 1.4rem;
  color: #f7f7f7;
}
section.blog {
  background-color: #fff;
  padding: 50px 0px 75px;
}
section.blog article {
  width: 100%;
  max-width: 800px;
  padding: 30px 30px;
  margin: 0 auto;
}
section.blog article.blog-home {
  background-color: #f7f7f7;
}
section.blog article .post-header {
  text-align: center;
  font-size: 1.8rem;
}
section.blog article .post-header img {
  display: block;
  margin: 0px auto;
  width: 100%;
  max-width: 800px;
  border: 2px solid #f7f7f7;
}
section.blog article .post-content {
  text-align: justify;
}
section.blog article .post-content h3 {
  font-size: 1.6rem;
}
section.blog article .post-content p {
  display: block;
  margin: 15px auto;
}
section.blog article .post-footer {
  padding: 20px 0px;
}
section.blog article .post-footer a {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  color: #4a96ad;
  transition: all linear 0.2s;
}
section.blog article .post-footer a:hover {
  border-color: #ddd;
}
section.blog article .post-footer p {
  font-size: 0.9rem;
  float: right;
  color: #666;
}
section.all-posts a {
  display: block;
  color: #f7f7f7;
  font-size: 1.5rem;
  padding: 30px 0px;
  background-color: #333;
  text-align: center;
}
section.post-profile {
  padding: 0px;
  background-color: #f7f7f7;
}
section.post-profile ul {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  text-align: right;
  padding: 25px 0px;
}
section.post-profile ul li {
  font-size: 1.2rem;
}
section.post-profile ul li a {
  padding: 0px;
}
section.post-profile hr {
  border: 0;
  height: 1px;
  margin: 0;
  background-image: linear-gradient(to right, rgba(0,0,0,0.1), rgba(0,0,0,0.3), rgba(0,0,0,0.1));
}
section.post-profile article {
  padding: 50px 0px;
  color: #5c5c5c;
  text-align: center;
}
section.post-profile article img {
  display: block;
  margin: 0 auto;
  width: 125px;
  border-radius: 50%;
}
section.post-profile article .presentation {
  border-top: 1px solid #f7f7f7;
  border-bottom: 1px solid #f7f7f7;
  font-size: 1.1rem;
}
section.post-profile article .presentation h2 {
  width: 320px;
  margin: 25px auto;
  font-size: inherit;
  display: inline-block;
  border-bottom: 1px solid #ccc;
}
section.post-profile article .presentation p {
  color: #999;
  text-align: center;
}
section.post-comments {
  padding: 50px 0px;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}
