
/**
 * Portada
 * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
 * @author Luis Gdonis <http//ldonis.com>
 * @since 4.0.0
 */

// * Including standard and base styles
// * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
@require '../../Template/css/base'

// * Header
// * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
header
    background-color #F7F7F7
    text-align center
    color #333333

    // title
    h1
        font-family 'pinyon'
        font-size 3.2rem
        padding 10px 0px 0px

    // description (not showing on posts)
    p
        background-color #333333
        padding 25px 0px
        font-size 1.4rem
        color #F7F7F7


// * blog container
// * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
section.blog
    background-color #FFF
    padding 75px 0px

    // Every single post container
    article
        width 100%
        max-width 800px
        padding 30px 30px
        margin 0 auto

        &.blog-home
            background-color #F7F7F7

        .post-header
            text-align center
            font-size 1.8rem

        .post-content
            text-align justify

            h3
                font-size 1.6rem

            p
                display block
                margin 15px auto


        .post-footer
            padding 20px 0px

            a
                border-bottom 1px solid transparent
                border-top 1px solid transparent
                color #4a96ad
                transition all linear .2s

                &:hover
                    border-color #DDD

            p
                font-size 0.9rem
                float right
                color #666

// * Link to all post
section.all-posts

    a
        display block
        color $gray
        font-size 1.5rem
        padding 30px 0px
        background-color $gray-dark
        text-align center

section.post-profile
    padding 0px
    background-color #F7F7F7

    ul
        max-width 800px
        width 100%
        margin 0 auto
        text-align right
        padding 25px 0px

        li
            font-size 1.2rem

            a
                padding 0px

    hr
        border 0
        height 1px
        margin 0
        background-image linear-gradient(to right, rgba(0,0,0,0.1), rgba(0,0,0,0.3), rgba(0,0,0,0.1))

    article
        padding 50px 0px
        color #5C5C5C
        text-align center

        img
            display block
            margin 0 auto
            width 125px
            border-radius 50%

        .presentation
            border-top 1px solid #F7F7F7
            border-bottom 1px solid #F7F7F7
            font-size 1.1rem

            h2
                width 320px
                margin 25px auto
                font-size inherit
                display inline-block
                border-bottom 1px solid #ccc
            p
                color #999
                text-align center

section.post-comments
    padding 50px 0px
    width 100%
    max-width 800px
    margin 0 auto
