html,
body {
  height: 100%;
}
section {
  background-image: url("../img/bg.jpg");
  background-size: cover;
  background-position: center center;
  height: 100%;
}
section article {
  height: 100%;
  background-color: transparent;
}
section article div {
  line-height: 1.3;
  text-align: justify;
  font-family: 'roboto300', 'roboto100', sans-serif, sans;
  font-size: 1.5rem;
  max-width: 1000px;
  width: 90%;
}
section article div a {
  color: #fff;
  background-color: #3498db;
  padding: 0px 10px;
  border-radius: 3px;
}
section article div a:hover {
  text-decoration: underline;
}
@media screen and (max-width: 500px) {
  section article div {
    text-align: left;
  }
}
